<h1>Edit Information</h1>
<div id="user-form">
<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br/>
    <%= f.telephone_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br/>
    <%= f.text_field :email %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>
  <div class="actions">
    <%= link_to 'Back', user_path(@user) %>
  </div>
</div>
